<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Unycross</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/forum-list">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-forum-post">Add Post</a>
      </li>
    </ul>
  </div>
</nav>
<button (click)="test()">Test endpoit(s)</button>
<router-outlet></router-outlet>